<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zryiva_threereb@lnubb.pbz</string>
	<key>contactName</key>
	<string>Melvin Guerrero</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Latino</string>
	<key>uuid</key>
	<string>B75EAFA2-FDF2-466E-ADE0-5F29223ABBD9</string>
</dict>
</plist>
